.main .no_found{width:1200px;margin:5px auto;position:relative;height:540px;text-align:center;}
.main .no_found img{width:467px;height:353px;margin:100px auto 20px auto;display:block;}
.main .no_found span{
	width:1200px;
    font-family: "微软雅黑","microsoft yahei",宋体,Tahoma,Verdana,Arial,Helvetica,sans-serif;
    color: #6d6d6d;
    font-size: 20px;
    display:block;
    margin-bottom:10px;
}
.main .no_found p{width:1200px;overflow:hidden;text-align:center}
.main .no_found p a{display:inline-block;}




