.h-btm{
	  height: 128px;
    margin: 0 auto;
    width: 1200px;
}
.h-btm .logo{
	  float: left;
    height: 60px;
    margin-top:20px;
    width: 245px;
}
.h-btm .logo img{
	  border: medium none;
    vertical-align: middle;
    max-height:90px;
}
.h-btm .flow-steps{
	 float: right;
    height: 3px;
    margin: 53px 40px 0 0;
    width: 615px;
}
.h-btm .flow-steps ol{
	  margin: 0 auto;
}
.h-btm .flow-steps ol li{
	float: left;
    height: 3px;
    position: relative;
     list-style: outside none none;
}
.h-btm .flow-steps ol .num1 {
    background: #ff6700;
    width: 163px;
}
.h-btm .flow-steps ol li span{
	bottom: -35px;
    color: #999;
    display: block;
    height: 16px;
    left: -16px;
    position: absolute;
    width: 100px;
}
.h-btm .flow-steps ol li em{
	  background: #dedede none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 13px;
    color: #666;
    height: 18px;
    left: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: -11px;
    width: 18px;
    font-style:normal;
}
.h-btm .flow-steps ol .num1 span{
	 color: #ff6700;
}
.h-btm .flow-steps ol .num1 em{
	background: #ff6700 none repeat scroll 0 0;
    color: #fff;
}
.h-btm .flow-steps ol .num2{
      background: #dedede;
    width: 290px;
}
.h-btm .flow-steps ol .num3{
      background: #dedede;
   width: 162px;
}
.h-btm .flow-steps ol .num2 span {
    left: 108px;
}
.h-btm .flow-steps ol .num2 em {
     left: 128px;
}
 .h-btm .flow-steps ol .num3 span {
     left: 130px;
}
.h-btm .flow-steps ol .num3 em {
   left: 150px;
}
.mycar-index{
	margin: 0 auto;
    width: 1200px;
}
.mycar-index h1{
	 color: #333;
    float: left;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    position: relative;
    width: 85px;
    font-weight:normal;
    width:1200px;
    display:block;
    clear:both;
}
#cart-wrapper{
	width: 1200px;overflow:hidden;
}
#cart-wrapper table{
	width: 1200px;border:1px solid #f5f5f5;border-bottom:0px none;
}
#cart-wrapper table tr th{
	   background: #f5f5f5 none repeat scroll 0 0;height: 50px;text-align:center;}
#cart-wrapper table tr td{
	   border-bottom: 1px solid #f5f5f5;
    color: #333;
    padding: 15px 0;
    text-align: center;
}
#cart-wrapper table tr td .cart_list_img{float:left;margin:0px 0px 0px 30px;display:block;}
#cart-wrapper table tr td img{width:50px;height:50px;}
#cart-wrapper table tr td p{width:540px;overlfow:height:50px;float:left;text-algin:left;}
#cart-wrapper table tr td p a{
	display: block;
    font-size: 14px;
    line-height: 50px;
    margin-left:15px;
     text-overflow: ellipsis;
    white-space: nowrap;
    width: 540px;
    overflow:hidden;
    text-align:left;
}
#cart-wrapper table tr td p .has_spec{
	line-height:25px;display:block;cleat:both;
}
#cart-wrapper table tr td p .caer_spec{
	width:540px;height:25px;line-height:25px;display:block;cleat:both;text-align:left;margin-left:15px;
}
#cart-wrapper table tr td p .caer_spec strong{
	color:#ccc;font-weight:normal;
}
#cart-wrapper table tr td p .act_span{
	width:540px;height:25px;line-height:25px;display:block;cleat:both;text-align:left;margin-left:15px;
}
#cart-wrapper table tr td p .act_span strong{
	background: #e10414; border: 1px solid #e10414; color: #fff; padding: 1px 10px; height: 16px; line-height: 16px; font-family:"microsoft yahei";
}
#cart-wrapper table tr td p .act_span a{
	display: inline;line-height: 20px;font-size: 13px;margin-left: 10px;
}
.Numinput{
	display:inline-block;	
}
.Numinput span{

    float: left;
    height: 22px;
    width: 23px;
    line-height:22px;
    text-align:center;
     cursor: pointer;
}

.Numinput input{
	float:left;display:inline;height:22px;line-height:22px;border:1px solid #e3e2e2;text-align:center;
}

.cart_last .delete{
  background:url("../images/mycar_icon05.png") no-repeat center center;
  width:30px;height:30px;overflow:hidden;display:inline-block;
}
.cart-wrapper{
    width:1200px;
    text-align:right;
    padding-top:30px;
}
.cart-wrapper span{
	font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: right;
    width: 550px;
}
.cart_tools{width:1200px;height:50px;overflow:hidden;margin-top:20px;}
.cart_tools .btn-div input{float:right;}

.button-wrapper .btn-div{float:left;display:inline;height:30px;margin:10px 0px 10px 0px;}
.button-wrapper .btn-div input{width:108px;height:30px;line-height:28px;margin:0px 0px 0px 15px}

.cart-blank{  
	background: url("../images/no-login-icon.png") no-repeat scroll 340px center;
    height:100px;
    line-height:100px;
    font-size:16px;
    text-align:center;
   	width:100%;
    margin:30px 0px;
    }
    