/************橱窗样式***********/
.showcase {width:1200px;margin:0 auto 30px;height:300px;}
.showcase_tab {width:1200px;height:50px;}
.showcase_tab .showcase_ul{background-color:transparent;border-color:transparent transparent #f0f0f0;border-style:solid;border-width:0 0 2px;height:40px;position:relative;z-index:1;}
.showcase_tab .showcase_ul li{background-color: transparent; width: 20%; *width: 195px; height: 40px; float: left; padding: 0; position: relative; z-index: 1; cursor: pointer;}
.showcase_tab .showcase_ul li a {font-size: 12px; font-weight: 600; line-height: 38px; text-align: center;display:block;}	
.onshowcase a{color:#33a600;}
.showcase_tab .showcase_ul li a:hover{color:#33a600;}
.showcase_tab .showcase_ul li i{border-style:dashed dashed solid;border-width:5px;bottom:0;display:none;float:right;font-size:0;height:0;left:50%;line-height:0;margin-left:-4px;position:absolute;width:0;z-index:1;}	
.showcase_tab .showcase_ul .onshowcase{border-color:#33a600;border-style:solid;border-width:0 0 2px;}
.showcase_tab .showcase_ul .onshowcase i{display: block;border-color:transparent transparent #33a600;}
.showcase .showcase_goods{width:1200px;overflow:hidden;}
.showcase .showcase_goods ul{margin-left:-1px;overflow:hidden;width:1210px;}
.showcase .showcase_goods ul li{border-left:1px dotted #f0f0f0;float:left;height:235px;overflow:hidden;padding:15px 0 0;width:197px;}
.showcase .showcase_btn{border:1px solid #ccc;background:#fff;color:#333;border-radius:4px;width:60px;height:30px;white-space: nowrap;vertical-align: middle;text-align:center;font-size: 13px;}
.showcase .showcase_btn:hover{background:#e6e6e6;border-color:#adadad;color:#333;}
.showcase .showcase_goods dl { width: 160px; margin: 0 auto auto; position: relative; z-index: 1;}
.showcase .showcase_goods dl dt.showcase_goods_name { font-family: Tahoma, Geneva, sans-serif; line-height: 16px; width: 160px; height: 32px; position: absolute; z-index: auto; top: 164px; left: 0; overflow: hidden;}
.showcase .showcase_goods dl dd.showcase_goods_img { width: 160px; height: 160px; position: absolute; z-index: auto; top: 0; left: 0;}
.showcase .showcase_goods dl dd.showcase_goods_img a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; overflow: hidden;}
.showcase .showcase_goods dl dd.showcase_goods_img img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2);}
.showcase .showcase_goods dl dd.showcase_goods_price { line-height: 20px; color: #999; position: absolute; z-index: auto; top: 200px; left: 0;}
.showcase .showcase_goods dl dd.showcase_goods_price em { font-size: 14px; vertical-align: middle;}


/************楼层样式*****style1模板********/
.child_same_floor {  height: 390px;  }
.child_floor_tab {  margin: 0 auto;  position: relative;  height: 30px;  width: 580px;  }
.child_floor_tab ul {  width: 530px;  }
.child_floor_tab ul li {  float: left;  height: 30px;  cursor: pointer;  opacity: 1;  }
.child_floor_tab .floor_tab_ul {  height: 30px;  line-height: 30px;  }
.child_floor_tab .floor_tab_ul li {  float: left;  width: 58px;  border: none;  text-align: center;  }
.child_floor_tab .floor_tab_ul .curBg {  background: #33a600;  height: 3px;  z-index: 1;  bottom: 0px;  }
.child_floor_tab .floor_tab_ul .curBg a {  color: #33a600;  border-color: #33a600;  }
.child_floor_tab .tab_item a {  float: left;  width: 100%;  height: 30px;  line-height: 30px;  overflow: hidden;  text-decoration: none;  white-space: nowrap;  border-top: 3px solid #ffffff;  }
.child_floor_show {  wdith: 580px;  height: 391px;  overflow: hidden;  float: left;  }
.child_floor_show_left {  float: left;  height: 391px;  position: relative;  width: 300px;  }
.child_floor_show .floor_img_hidden {  float: left;  height: 391px;  overflow: hidden;  position: relative;  width: 300px;  }
.child_floor_show .floor_img_hidden img {  height: 391px;  width: 300px;  }
.child_floor_show .floor_name_hidden {  background: #333;  position: absolute;  z-index: 1;  overflow: hidden;  width: 300px;  height: 60px;  text-align: center;  }
.floor_name_hidden .floor_name_txt {  color: #cfcfcf;  font-size: 12px;  height: auto;  line-height: 22px;  margin: 5px 10px;  width: 250px;  }
.floor_name_hidden .floor_name_txt a {  color: #cfcfcf;  }


/************楼层样式*****style1模板********/
.floor_show_right_style1{float:left;heigh:391px;width:278px;}
.child_floor_show_right{float:left;width:278px;height:391px;position:relative;padding-left:10px;}
.child_floor_show_right ul{overflow:hidden;height:391px;width:300px;border-left:1px solid #e0e0e0;}
.child_floor_show_right ul li{margin-left:10px;overflow:hidden;position:relative;width:278px;height:195px;position:relative;}
.child_floor_show_right .show_right{float:left;height:195px;overflow:hidden;position:relative;width:278px;}	
.child_floor_show_right .show_right_img{padding:5px 0;height:195px;margin:0 auto;overflow:hidden;width:280px;border-bottom:1px solid #e0e0e0;}
.child_floor_show_right .show_right_img img{width:280px;height:195px;}
.child_floor_show_right .show_right_name{height:60px;overflow:hidden;z-index:1;background:#333;position:absolute;float:left;margin:0 auto;text-algin:center;width:278px;}
.show_right_name .show_right_txt{clear:both;color:#cfcfcf;font-size:12px;overflow:hidden;height:auto;line-height:22px;margin:5px 10px;width:240px;}	
.show_right_name .show_right_txt a{color:#cfcfcf;}
.child_floor_style1{width:595px;overflow:hidden;float:left;height:391px;}




/************楼层样式*****style2模板********/
.child_floor_style2{width:580px;overflow:hidden;float:left;height:391px;}
.child_floor_style2 ul{overflow:hidden;height:391px;width:670px;}
.child_floor_style2 ul li{float:left;height:195px;width:193px;}
.child_floor_style2 ul li .goods-img{height:130px;margin:5px auto;width:130px;}
.child_floor_style2 ul li .goods-name{height:20px;margin:0 auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:170px;}
.child_floor_style2 ul li .goods-price{height:20px;line-height:20px;overflow:hidden;padding:0 5px;text-align:left;width:185px;}
.child_floor_style2 ul li .goods-price span{color:#ff6700;font-family:Arial;font-size:18px;letter-spacing:-1px;}


/************专题样式*************/
.index-subject-main{background:#fff;padding-bottom:1px;padding-top:30px;padding-left: 40px;}
.subject-main{width:1200px;margin:0 auto;}
.subject-main .subjectTitle{float:left;	font-size:16px;font-weight:bold;height:35px;line-height:35px;width:100%;}
.subject-img{clear:both;vertical-align:middle;}
.subject-img img{border:1px solid #d1d3d4;width:1180px;}
/**************专题次页商品样式***************/
.subjectGoods{width:1219px;margin:0 auto;position:relative;clear:both;}
.subjectGoods ul{margin:0 auto;height:320px;width:1227px;clear:both;position:relative;}
.subjectGoods ul li.subject_goods{border:4px solid #e4e4e4;width:232px;float:left;margin-right:5px;}
.subjectGoods .subject_goods_img{height:232px;margin-bottom:10px;width:232px;}	
.subjectGoods .subject_goods_name{height:36px;margin:0 auto;overflow:hidden;width:210px;}
.subjectGoods .subject_goods_price{height:25px;margin:0 auto;overflow:hidden;width:210px;}
.subjectGoods .subject_goods_price span{color:#f00;}
/**************专题次页商品下方的大图***************/
.subjectImage{height:auto;position:relative;width:100%;}
.subjectImage .subjectImage_img{overflow:hidden;text-algin:center;width:1237px;margin:10px auto;}
.subjectImage .subjectImage_img span{margin:0 auto;width:100%;}
.subjectImage .subjectImage_img img{max-width:100%;display:block;vertical-align:middle;width:1219px;height:400px;margin:0 auto;}

/****************后台编辑按钮的样式、 江宏岩****************/
.subject_goods_edit{
	left:20%;
	position:absolute;
	z-index:10;
}
.subject_goods_delete{
	left:25%;
	position:absolute;
	z-index:10;
}
.subject_image_edit{
	left:20%;
	position:absolute;
	z-index:10;
}
.subject_image_delete{
	left:25%;
	position:absolute;
	z-index:10;
}








