/*******商品搜索结果**********/
.goods-list-attribute{float:left;}
.other_same li span{position:relative;border:1px solid #ccc;margin-left:0px;padding-right:30px;height:30px;}
.other_same li span a{margin-left:10px;}
.other_same li span a strong{width:30px;height:30px;background:url(../images/close1.jpg) no-repeat center center;position:absolute;right:0px;top:0px;}
.other_same li span a:hover{text-decoration: none;}
.other_same li span a:hover strong{background:url(../images/close2.jpg) no-repeat center center;}

.goodslist_nav{width:1200px;margin:10px auto;}
.goodslist_nav .breadcrumb{border-top:2px solid #d93600;color:#333;padding-top:10px;width:980px;margin:0px auto;}
.goodslist_nav span{float:left;display:inline;margin-right:5px;color: #555;font: lighter 14px/20px "Microsoft Yahei";margin:0px 5px 0px 0px;line-height:30px;text-align: center;}
.goodslist_nav span a{color:#555;}

.goods_selected_left{float:left;}
.goodslist_nav .goods_selected_all{float:left;display:inline;width:1075px;}
.goodslist_nav .goods_selected_all .have_chosen{float:left;display:inline;margin-bottom:10px;}
.goodslist_nav .goods_selected_all .have_chosen_cat{position:relative;background:#fff;}


.goodslist_nav .goods_selected_all .have_chosen_cat .have_chosen_goods_list{border:1px solid #ccc;float:left;display:inline-block;line-height:30px;padding:0px 30px 0px 10px;margin-left:30px;position:relative;}
.goodslist_nav .goods_selected_all .have_chosen .have_chosen_goods_list .chosen_cat_middle{width:20px;height:20px;display:block;background:url(../images/search.png) no-repeat left 8px;position:absolute;right:6px;top:5px;}
.goodslist_nav .goods_selected_all .have_chosen_cat .have_chosen_goods_list.cur b{display:none;}
.goodslist_nav .goods_selected_all .have_chosen_cat .have_chosen_goods_list.cur{margin:0px;}
.goodslist_nav .goods_selected_all .have_chosen_cat .have_chosen_goods_list.last{margin-right:10px;}


.goodslist_nav .goods_selected_all .have_chosen_cat  .goods_list_other{overflow:hidden;padding:10px 0px 0px 10px;border:1px solid #e4393e;position:absolute;left:-1px;top:30px;background:#fff;z-index:5;}
.goodslist_nav .goods_selected_all .have_chosen_cat  .goods_list_other li{float:left;display:inline;margin:0px 10px 10px 0px;}
.goodslist_nav .goods_selected_all .have_chosen_cat  .goods_list_other li a{border-right:1px solid #ccc;padding-right:10px;color:#999}
.ul_border{position:absolute;top:30px;z-index:200;height:2px;background:#fff;left:0px;padding-left:10px;}
.goodslist_nav .goods_selected_all .have_chosen_cat .have_chosen_goods_list b{width:20px;height:20px;display:block;position:absolute;background:url(../images/search_01.png) no-repeat left center;left:-21px;top:4px;}

/********推荐列表************/
.goodssearch_new{
	  border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    width: 1198px;
    margin:0px auto 50px auto;
    position:relative;
}
.goodssearch_new .wait_select{
	   border-bottom: 1px dashed #dadada;
    margin: 0 auto;
    padding: 15px 0 10px;
    position: relative;
    width: 1180px;
    overflow:hidden;
}
.goodssearch_new .last-wait-select{border:0px none;}
.goodssearch_new .wait_select .wait_left{
	 color: #999;
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    width: 65px;
}
.goodssearch_new .wait_select .wait_right{
	   float: left;
    position:relative;
    width: 1020px;
}
.goodssearch_new .wait_select .wait_right .brand_goods_search_more{
	position:absolute;      width:50px;height:30px;line-height:30px;top:-4px;right:-60px;
}
.goodssearch_new .wait_select .wait_right .brand_goods_search_more1{position:absolute;      background:url("../images/gengduo.jpg") no-repeat 30px -23px;width:50px;height:30px;line-height:30px;top:-4px;right:-60px;}
.goodssearch_new .wait_select .wait_right ul{
	 width: 1060px;line-height: 30px;
    max-height: 60px;overflow:hidden;
}
.goodssearch_new .wait_select .wait_right ul li{
	  color: #333;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 117px;
}
.goodssearch_new .wait_select .wait_right ul li a{color:#333;}
.wait_select_other .last{border:0px none;}

/********排序************/
.goods_list_all{
	width:1200px;overfow:hidden;margin:30px auto;
}
.goods_list_all .goods_bar{
	  background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #edecec;
    height: 42px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 1198px;
}
.goods_list_all .goods_bar p{
	    background: #fff;
    color: #ff6700;
    float: left;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    text-align: center;
    width: 95px;
}
.goods_list_all .goods_bar .goodslist_sort{
	float:left;display:inline;
}
.goods_list_all .goods_bar .goodslist_sort li{
	float:left;
}
.goods_list_all .goods_bar .goodslist_sort li a{
	 color: #333;
    float: left;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    text-align: center;
    width: 95px;
}
.goods_list_all .goods_bar .goodslist_sort li .selected{
	background:#fff;
}
.goods_list_all .goods_bar .bar_page{
	float: right;
    height: 42px;
	maegin-right:20px;
	display:inline;
}
.goods_list_all .goods_bar .bar_page .page span{
	 color: #ff6700;
    float: left;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
    overflow: hidden;
}
.goods_list_all .goods_bar .bar_page .page ul{
	display:none;
}
.goodslist_circulate{
	width:1200px;overlfow:hidden;
}
.goodslist_circulate .goodslist_all{
	width:1230px;display:block;
}
.goodslist_circulate .goodslist_all .item{
	 background: #fff none repeat scroll 0 0;
    border: 1px solid #edecec;
    float: left;
    height: 291px;
    margin: 0 19px 20px 0;
    position: relative;
    width: 222px;
}
.goodslist_circulate .goodslist_all .item-hover{
	box-shadow: 0 2px 5px #ccc;
}

.goodslist_circulate .goodslist_all .item .goodslist .goodslist_img{
	    height: 160px;
    margin: 10px auto;
    width: 160px;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_img img{
	width:160px;height:160px;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_price{
	 height: 20px;
    margin: 0 auto;
    width: 205px;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_price em{
	  color: #ff6700;
    float: left;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    letter-spacing: -1px;
    line-height: 20px;
    overflow: hidden;
    width: 105px;
    font-style:normal;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_price del{
	 color: #ccc;
    float: left;
    height: 20px;
    overflow: hidden;
    text-decoration: line-through;
    width: 100px;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_name{
	  height: 40px;
    margin: 8px auto;
    overflow: hidden;
    width: 205px;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_name a{
	 color: #333;
    line-height: 20px;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_gocart{
		  height: 40px;
    margin: 0px auto;
    overflow: hidden;
    width: 205px;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_gocart p{
	    color: #333;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 100px;
    float:left;
}
.goodslist_circulate .goodslist_all .item .goodslist .goodslist_intro .goodslist_gocart a{
    bottom: 7px;
    cursor: pointer;
    height: 35px;
    right: 35px;
    width: 35px;
    float:right;
    margin-right:1px;
}
.goods_list_page{
	text-align:center;display:block;widht:100%;height:40px;clear:both;
}
.goods_list_page .page span{
	display:inline-block;
	color: #333;
    height: 37px;
    line-height: 37px;
    overflow: hidden;
    width: 58px;
}
.goods_list_page .page ul{
	 display:inline-block;border-right:1px solid #ededed;
}
.goods_list_page .page ul li{
	   height: 37px;
	   line-height:37px;
    width: 35px;
	float:left;
}
.goods_list_page .page ul li a{
	display:block;border:1px solid #ededed;border-right:0px none;height:35px;line-height:35px;
}
.goods_list_page .page ul li a:hover{
	border:1px solid #ff6700;padding:0px 0px 0px 1px;
}
.goods_list_page .page ul li .selected{
	 border:1px solid #ff6700;border-right:0px none;
    background:#ff6700;
    color: #fff;
}



/******商品列表*********/


/********推荐*****/
.list_m1{
	 background: #f5f5f5;
    height: 195px;
    margin: 10px auto;
    width: 1200px;
}
.list_m1 .m1_l {
    color: #333;
    float: left;
    font-size: 18px;
    height: 88px;
    line-height: 22px;
    margin: 60px 0 0 18px;
    padding: 13px 0 0 12px;
    width: 48px;}

.list_m1 .m1_r {
    float: right;
    height: 155px;
    width: 1105px;
}
.list_m1 .m1_r .r_info {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 155px;
    margin: 20px 15px 0 0;
    width: 260px;
}
.list_m1 .m1_r .r_info .i_pic {
    float: left;
    height: 100px;
    margin: 27px 10px 0 5px;
    width: 100px;
}
.list_m1 .m1_r .r_info .i_pic img{max-width:100px;max-height:100px;}
.list_m1 .m1_r .r_info .i_in {
    float: left;
    height: 100px;
    margin-top: 27px;
    width: 135px;
}
.list_m1 .m1_r .r_info .i_in .i_title {
    height: 40px;
    overflow: hidden;
    width: 135px;
}
.list_m1 .m1_r .r_info .i_in .i_title a {
    color: #333;
    line-height: 20px;
}
.list_m1 .m1_r .r_info .i_in .i_price {
    color: #333;
    line-height: 20px;
    margin: 5px 0;
    overflow: hidden;
    width: 135px;
}
.list_m1 .m1_r .r_info .i_in .i_price span {
    color: #ff6700;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
}
.list_m1 .m1_r .r_info .i_in .i_btn a {
    background: #ff6700 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 107px;
}
table tr td li a{
	 color: #333;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 117px;
    
}
/*******新增隐藏************/
.wait_select_other{display:none;}
.goods_list_show{cursor: pointer; position:absolute;border:1px solid #ddd;border-top:0px none;bottom:-31px;height:30px;line-height:30px;width:150px;text-align:center;left:500px;background:#fff;z-index:2;}


.no-goodslist{
	 font-size: 14px;
    font-style: oblique;
    font-weight: 200;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
}








