.spec li {
	float: left;
	margin-bottom: 4px;
	width: 20%;
}

.spec li span {
	display: inline;
	float: left;
	height: 24px;
	line-height: 24px;
	margin-right: 6px;
}

.spec span img {
	border: 1px solid #D8D8D8;
	height: 20px;
	margin: 3px 0;
	padding: 1px;
	width: 20px;
}


.detail{
	width: 80%;
	padding-bottom: 30px;
	padding-top: 20px;
}

.w1{
	width: 80px;
}
.w2{
	width: 200px;
}
.w3{
	width: 110px;
}

.ipt{
	width: 80%;
}
.price{
	width: 60px;
}

/* 2017-03-02 10:37 增加图片上传div
 ============================================================================ */
.image-update-box {
    width: 80%;
    min-height: 90px;
    background-color: #fafafa;
}

.image-update-box .item {
    float: left;
    position: relative;
    width: 60px;
    margin: 5px;
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    overflow: hidden;
}

.image-update-box .item input {
    display: none;
}