.division {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #CCCCCC #BEC6CE #BEC6CE #CCCCCC;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	line-height: 150%;
	margin: 10px;
	padding: 5px;
	white-space: normal;
}

.division table {
	padding: 0
}

.orderdetails_basic th {
	color: #336699;
	text-align: left;
	white-space: nowrap;
}

.division th {
	background: none repeat scroll 0 0 #E2E8EB;
	border-right: 1px solid #CCCCCC;
	font-size: 14px;
	text-align: right;
	white-space: nowrap;
	width: 140px;
}

.division th,.division td {
	border-color: #FFFFFF #DBE2E7 #DDDDDD #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DBE2E7;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	vertical-align: top;
}
.division .grid th,.division .grid td{
	text-align:left;
}
.tableform {
	background: none repeat scroll 0 0 #EFEFEF;
	border-color: #DDDDDD #BEC6CE #BEC6CE #DDDDDD;
	border-style: solid;
	border-width: 1px;
	margin: 10px;
	padding: 5px;
}

h5 {
	font-size: 1em;
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
	clear: both;
	color: #111111;
	margin: 0.5em 0;
}

.easyui-panel {
	border-style: none;
	height: auto;
	width: auto;
}

#order_dialog .con {
	background: none repeat scroll 0 0 #FFFFFF;
	overflow-x: hidden;
	overflow-y: auto;
	height: 400px;
	visibility: visible;
	opacity: 1;
	position: relative;
}

ul {
	list-style-type: none;()
}