*{
	padding:0px;
	margin:0px;
}
body{
	height:100%!important;
}
.all{
	width:100%;
	height:100%;
	background:#323943;
    overflow: hidden;
    position:absolute;
}
.box{
    position: absolute;
    top: 40%;
    left: 46%;
    margin: -110px 0 0 -360px;
    min-width: 781px;
}
.top{
max-height:130px;
}
.logo img{
	width:40%;
}
.red{
	width:10px;
	height:40px;
	background:#FF571D;
    display: inline-block;
    float:left;
    margin-right:5px;
}
.center{
	position: relative;
	margin-left:51px;
}
.center input{
	background-color:white;
	height:38px;
	line-height:38px;
	margin-right:5px;
	border:1px solid #ccc;
	padding-left: 12px;
	box-shadow: inset 0 3px 4px rgba(29,0,0,.3);
	 font-size:16px;
}
#username{
	width:300px;
	line-height:38px;
}
#password{
	width:300px;
	line-height:38px;
}
#valid_code{
	width:80px;
}
.code{
	position: absolute;
    width: 90px;
    height: 40px;
    top: -114%;
    right: 12.5%;
}
.code img{
    width: 90px;
    height: 40px;
    border-radius: 5px;
}
#login_btn{
	width:90px;
	text-align:center;
	height:38px;
	background:#FF571D;
	border:none;
	padding-left:0px;
    color: #e2e2e2;
 	box-shadow: none;
    border-radius: 3px;
}
.flood{
	margin-top:22px;
	margin-left:51px;
}